

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito+Sans:wght@200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Comfortaa&family=Nunito+Sans:wght@200&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  
}


#page{
  display: flex;
  justify-content: center;
}
#login{
  display: flex;
      flex-direction:column;
      height: 425px;
      justify-content: center;
      align-items: center;
      left: 30px;
}
  #login::before{
    background: url('./images/login-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  content: "";
  position: absolute;
  
  height: 100vh;
  top:0px;
  left:0px;
  width: 100%;
  z-index: -1;
  opacity: 1;
  }
 
  #login form{
    
    padding: 30px;
    display: flex;
    flex-direction: column;
   
  width:400px;
  height: 400px;
  float:left;
  background-color: #88c6e5a0;
  border-radius: 30px;
  justify-content: center;
  position: relative;
 
  }
/* input{
  color:black;
} */
  .input-group {
    display: flex;
    margin-bottom: 41px;
    color:black;
  }
 /* .input-group input{
    width: 200px;
    background-color: rgba(255,255,255,0);
    border:none;
    color:black;
    font-size: 25px ;
    font-family: 'Marcellus SC', serif;
    font-weight: 600;
  } */
  
   
  .input-group input {
    width: 70%;
    margin-left:11px;
    color:black;
    padding-left: 12px;
    font-size: 25px; 
    border-radius: 8px; 
    border-bottom: 2px solid black;
  }
  .input-group input::placeholder{
    color: rgb(6, 6, 6);
    background-color: rgba(255,255,255,0);
    font-size: 18px;
    font-family: 'Marcellus SC', serif;
    font-weight: 600;
  }
  
  
.input-group img{
  width:30px;
  position: relative;
  top:14px;
  margin-left: 8px;
}
.google{
  display: flex;
  width:400px;
  height: 100px;
  float:left;
  background-color: #63bbe7a0;
  border-radius: 30px;
  justify-content: center;
  position: relative;

  text-align: center;
  margin-bottom: 48px;
}
.line{
  position: absolute;
  float: left;
  width: 8px;
  height: 400px;
  background-color: #04263A;
  position: relative;
  
}
.google img{
  width: 82px;
    height: 86px;
    position: relative;
    margin-top: 5px;
    margin-left: -59px;

}
.box1{
  padding: 34px;
  margin: 3px 6px;
}

#page .box1{
  padding: 10px; 
 }
 .Signup{
  
  width:400px;
  height: 100px;
  float:left;
  background-color: #63bbe7a0;
  border-radius: 30px;
  justify-content: center;
  position: relative;}
  .heading{
    height: 69px;
  }
  .heading img{
    position: relative;
    width:87px;
    height:auto;
    left: -13%;
    top: -67px ;
  }
  .Signup {
    font-size: 24px;
    font-family: 'cursive';
    font-weight: bold;
    
  }
 @media screen and (max-width:976px) {
  #page {
    flex-direction: column;
  }
  #login::before{
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
.line{
  width: 400px;
  height: 8px;
}
}
